---
import { D_LINKS } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import WebProjects from "../../components/WebProjects";
---

<Layout title="Home">
  <main class="main">
    <div class="content">
      <h1 class="headingMain">3D Graphics</h1>
      <WebProjects projects={D_LINKS} client:load />
    </div>
  </main>
</Layout>
