---
import { D_LINKS } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import WebProjects from "../../components/WebProjects";
---

<Layout
  title="3D Graphics"
  description="Explore my 3D graphics projects, showcasing a blend of hand-painted artwork and 3D elements that bring unique visual stories to life."
>
  <main class="main">
    <div class="content">
      <h1 class="headingMain">3D Graphics</h1>
      <WebProjects projects={D_LINKS} client:load />
    </div>
  </main>
</Layout>
