---
import { SERVICES_LINKS } from "../../constants";
import Layout from "../../layouts/Layout.astro";

import ServicesProjects from "../../components/ServicesProjects";
---

<Layout
  title="Services"
  description="Discover the range of services I offer, including web development, 3D art, and illustration, tailored to meet your unique needs and bring your vision to life."
>
  <main class="main">
    <div class="content">
      <h1 class="headingMain">Services</h1>
      <ServicesProjects projects={SERVICES_LINKS} client:load />
    </div>
  </main>
</Layout>
