---
import { Icon } from "astro-icon/components";
import { SOCIAL_LINKS } from "../constants";
import DarkThemeSwitcher from "./DarkThemeSwitcher.astro";
---

<footer class="w-full border-black z-20 border-t bg-lightGray py-6 sm:py-0">
  <div
    class="content flex flex-col sm:flex-row items-center h-16 gap-3 w-full justify-between"
  >
    <nav aria-label="Social media" class="flex items-center gap-3">
      <ul class="flex items-center gap-3">
        {
          SOCIAL_LINKS.map((link) => (
            <li class="w-full h-full">
              <a
                aria-label={link.name}
                href={link.href}
                target="_blank"
                class="group relative flex overflow-hidden border border-black  transition-color duration-300 easeInOut text-black  p-2 before:absolute before:inset-0 before:bg-black bg-white
                before:origin-left before:scale-x-0
                before:transition-transform before:duration-300
                hover:before:scale-x-100 cursor-pointer"
              >
                <Icon
                  aria-hidden="true"
                  name={link.icon}
                  class="text-lg relative z-10 flex items-center gap-3
                  transition-colors duration-300
                  text-black group-hover:text-white"
                />
              </a>
            </li>
          ))
        }
      </ul>
      <DarkThemeSwitcher />
    </nav>
    <p class="text-black text-center sm:text-left">
      © 2026 Adam Kascak. All rights reserved.
    </p>
  </div>
</footer>
