---
import { ILLUSTRATION_LINKS } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import IllustrationProjects from "../../components/IllustrationProjects";
---

<Layout
  title="Illustrations"
  description="Explore my illustration projects, showcasing a blend of hand-painted artwork and 3D elements that bring unique visual stories to life."
>
  <main class="main">
    <div class="content">
      <h1 class="headingMain">Illustration</h1>
      <IllustrationProjects projects={ILLUSTRATION_LINKS} client:load />
    </div>
  </main>
</Layout>
