---
import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/Navbar.jsx";
import Footer from "../components/Footer.astro";

const pathname = Astro.url.pathname;
const props = Astro.props;
---

<BaseLayout {...props}>
  <Navbar pathname={pathname} client:load />

  <div class="min-h-dvh flex flex-col">
    <slot />
    <Footer />
  </div>
</BaseLayout>
